ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME=AccentColor
CURRENT_PROJECT_VERSION=2
GENERATE_INFOPLIST_FILE=YES
INFOPLIST_FILE=EssentialApp/Info.plist
INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents=YES
INFOPLIST_KEY_UILaunchStoryboardName=LaunchScreen
INFOPLIST_KEY_UIMainStoryboardFile=
INFOPLIST_KEY_UISupportedInterfaceOrientations=UIInterfaceOrientationPortrait
MARKETING_VERSION=0.1.0
PRODUCT_BUNDLE_IDENTIFIER=de.finnebeling.EssentialApp
PRODUCT_NAME=$(TARGET_NAME)
SUPPORTED_PLATFORMS=iphoneos iphonesimulator
SUPPORTS_MACCATALYST=NO
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD=NO
SUPPORTS_XR_DESIGNED_FOR_IPHONE_IPAD=NO
SWIFT_EMIT_LOC_STRINGS=YES
SWIFT_VERSION=5.0
TARGETED_DEVICE_FAMILY=1

CODE_SIGN_IDENTITY[sdk=iphoneos*][config=Release]=iPhone Distribution
CODE_SIGN_STYLE[config=Debug]=Automatic
CODE_SIGN_STYLE[config=Release]=Manual
DEVELOPMENT_TEAM[config=Debug]=K2H77582Z5
DEVELOPMENT_TEAM[config=Release]=
DEVELOPMENT_TEAM[sdk=iphoneos*][config=Release]=K2H77582Z5
LD_RUNPATH_SEARCH_PATHS[config=Debug]=$(inherited) @executable_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[config=Release]=$(inherited) @executable_path/Frameworks
PROVISIONING_PROFILE_SPECIFIER[config=Release]=
PROVISIONING_PROFILE_SPECIFIER[sdk=iphoneos*][config=Release]=EssentialAppDistributionProfile